<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PokeDB</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.red-blue.min.css" />
  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
  <style>
    .material-icons.md-18 { font-size: 18px; }
    .fill-width { width: 100%; }
    .mdl-data-table td { padding: 12px 12px 0px; }
    .mdl-data-table th { padding: 12px 12px 0px; }
  </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
	    <span class="mdl-layout-title">PokeDB</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
	      <a class="mdl-navigation__link" href="{% url 'index' %}">Index</a>
	{% if user.is_authenticated %}
        <a class="mdl-navigation__link" href="">Admin</a>
	<a class="mdl-navigation__link" href="{% url 'import_spawns' %}">Import Spawns</a>
	<a class="mdl-navigation__link" href="{% url 'import_pokemons' %}">Import Pokemons</a>
	{% else %}
        <a class="mdl-navigation__link" href="">Login</a>
	{% endif %}
	  </nav>
	</div>
  </header>
  <main class="mdl-layout__content">
    {% block content %}{% endblock %}
  </main>
</div>
</body>
</html>
