{% extends "pokedb/base_generic.html" %}

{% block content %}

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col mdl-color--white mdl-shadow--4dp">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="hidden" name="next" value="{{ next }}" />
<p><input type="submit" value="login" /></p>
</form>
</div>
</div>
{% endblock %}
